/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; }
body {
  background-color: lightgray;
}
.tilescell{
  border: 1px solid gray;
  font-size: 150%;
  padding: 10px 15px;
  text-align: center;
}
