/* This file is for your main application css. */
@import "bootstrap";

* {
  text-align: center;
  font-family: verdana;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.tilescell {
  border: 1px solid black;
  padding: 20px 20px;;
  font-size: 150%;
  padding: 10px;
}
